.projects-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.content-tab-project {
    z-index: -99999;
}

.category-tabs {
    position: relative;
    z-index: 2;
    background-color: #fff;
}

@media (max-width: 1144px) {
    .projects-grid {
        display: grid;
        padding: 20px;
        grid-template-columns: auto auto;
        gap: 48px;
    }
}

@media (max-width: 768px) {
    .projects-grid {
        display: grid;
        padding: 20px;
        grid-template-columns: auto auto;
        gap: 48px;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .projects-grid {
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
        justify-content: center;
    }
    .category-tabs {
        top: 38px;
    }
}