body {
  background: url('https://images.squarespace-cdn.com/content/v1/5f284723db91c854ab0a260f/1596568250351-45XI71WDKS0586OFT34F/ISC+Abstract+Background+V2+06.png?format=2500w');
  overflow: hidden;
  background-size: contain;
  font-family: sans-serif;
}

/* SIDE BAR */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  background-color: #333;
  color: #fff;
  overflow-y: auto;
  transition: all 0.3s;
}

.sidebar.collapsed {
  width: 50px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.profile-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid white;
}

.social-media {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.social-media-link {
  margin: 0 10px;
}

.social-media-item {
  color: red;
  font-size: 1.5rem;
  margin-right: 10px;
}

@media screen and (max-width: 900px) {
  .menu-item-btn {
    margin: 10px;
  }
}

/* BUTTONS SIDE BAR */
.collapse-btn {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 50px;
  height: 50px;
  color: #FC1503;
  font-size: 1.5rem;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.collapse-btn:hover {
  background-color: #444;
}

.button-color-text {
  color: #ffffff;
}

.menu-item-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.menu-item-btn:hover span {
  color: white !important;
}

.menu-item-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
  width: 100%;
  font-size: 1rem;
}

.header-title {
  text-align: center;
}

/* ABOUT  */

.about-container {
  display: flexbox;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  max-width: 25%;
  max-height: 90%;
  background-color: #fffefeb9;
  opacity: 0.9;
  border-radius: 10px;
  color: #000;
  border-color: #000000;
  padding: 10px;
}

.about-content {
  text-align: justify;
}

/* Skills */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.skills-container {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  min-width: 60%;
  max-height: 80%;
  background-color: #fffefeb9;
  opacity: 0.9;
  border-radius: 10px;
  color: #000;
  border-color: #000000;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header-title {
  font-size: 1.5rem;
  text-align: center;
}

.align-toolbar {
  display: flex;
  padding-right: 5px;
}

.skill-content ul {
  padding-left: 20px;
}

.skill-content li {
  margin-bottom: 5px;
}

.title {
  padding-left: 5px;
}

.pointer-item {
  list-style-type: disc;
}