body {
  background: url('https://wallpapers.com/images/featured/m8kr2hfvrwlt8j5g.jpg');
  background-size: contain;
  font-family: sans-serif;
}

/* SIDE BAR */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  background-color: #000000;
  color: #fff;
  overflow-y: auto;
  transition: all 0.3s;
}

.sidebar.collapsed {
  width: 50px;
  overflow-x: hidden;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.profile-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid white;
}

.social-media {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.social-media-link {
  margin: 0 10px;
}

.social-media-item {
  color: red;
  font-size: 1.5rem;
  margin-right: 10px;
}

@media screen and (max-width: 900px) {
  .menu-item-btn {
    margin: 10px;
  }
}

/* BUTTONS SIDE BAR */
.collapse-btn {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 50px;
  height: 50px;
  color: #FC1503;
  font-size: 1.5rem;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.collapse-btn:hover {
  background-color: #444;
}

.button-color-text {
  color: #ffffff;
}

.menu-item-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.menu-item-btn:hover span {
  color: white !important;
}

.menu-item-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
  width: 100%;
  font-size: 1rem;
}

.header-title {
  text-align: center;
}

/* ABOUT  */

.about-container {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -70%);
  max-width: 55%;
  max-height: 70%;
  background-color: #fffefeb9;
  opacity: 0.9;
  border-radius: 10px;
  color: #000;
  border-color: #000000;
  padding: 10px;
}

.about-content {
  text-align: justify;
  overflow-y: hidden;
  max-height: 54vh;
}

@media (max-width: 768px) {
  .about-container {
    max-width: 90%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
  }
}

/* Media query para telas menores que 576px (celulares em modo retrato) */
@media (max-width: 576px) {
  .about-container {
    max-width: 100%;
    top: 10%;
    left: 0%;
    transform: none;
    border-radius: 0;
    padding: 15px;
  }

  .about-content {
    overflow-y: scroll;
    max-height: 48vh;
  }
}

/* Skills */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.skills-container {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  min-width: 60%;
  max-height: 80%;
  background-color: #fffefeb9;
  opacity: 0.9;
  border-radius: 10px;
  color: #000;
  border-color: #000000;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header-title {
  font-size: 1.5rem;
  text-align: center;
}

.align-toolbar {
  display: flex;
  padding-right: 5px;
}

.skill-content ul {
  padding-left: 20px;
}

.skill-content li {
  margin-bottom: 5px;
}

.title {
  padding-left: 5px;
}

.pointer-item {
  list-style-type: disc;
}


@media (max-width: 576px) {
  .skills-container {
    max-width: 100%;
    padding: 5px;
  }

}

/* Project */
.project-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 575.98px) {

  .sidebar {
    width: 155px;
    overflow-x: scroll;
  }

  .project-card {
    width: calc(100vw - 180px) !important;
  }

  .card-text {
    font-size: 14px;
    max-height: 120px;
    overflow: scroll;
    text-overflow: ellipsis;
  }

  .project-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
}

/* Media query para dispositivos pequenos (entre 576px e 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .project-card {
    max-height: 450px;
    margin-bottom: 20px;
  }

  .card-text {
    font-size: 16px;
    max-height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Media query para dispositivos médios (entre 768px e 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .project-card {
    max-height: 500px;
    margin-bottom: 20px;
  }

  .card-text {
    font-size: 18px;
    max-height: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Media query para dispositivos grandes (entre 992px e 1199.98px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .project-card {
    max-height: 550px;
    margin-bottom: 20px;
  }

  .card-text {
    font-size: 20px;
    max-height: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 1200px) {
  .card-text {
    max-height: 150px;
    overflow-y: scroll;
    font-size: 16px;
  }

  .card {
    height: calc(100vh - 200px);
    width: 25vw;
  }
}

@media (min-width: 1900px) {
  .card-text {
    max-height: 500px;
    overflow-y: hidden;
    font-size: 16px;
  }

  .card {
    max-width: calc(70% - 4rem);
    max-height: calc(100vh - 350px);
  }
}

/* Project Card */
.project-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  padding: 20px;
  width: calc(90% - 2rem);
  min-height: calc(100vh - 350px);
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card:last-child {
  margin-right: 0;
}

.project-card img {
  max-width: 100%;
  height: 30%;
  margin-bottom: 20px;
}

.project-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-card p {
  flex: 1;
  margin-bottom: 10px;
  text-align: justify;
}

.project-card button {
  align-self: self-start;
}

.image-card {
  border-radius: 10px;
}