.about-container {
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -70%);
    max-width: 55%;
    max-height: 70%;
    background-color: #fffefeb9;
    opacity: 0.9;
    border-radius: 20px;
    color: #000;
    border-color: #000000;
    padding: 10px;
}

.about-content {
    text-align: justify;
    overflow-y: hidden;
    max-height: 54vh;
}

@media (max-width: 768px) {
    .about-container {
        max-width: 90%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 5px;
    }
}

/* Media query para telas menores que 576px (celulares em modo retrato) */
@media (max-width: 576px) {
    .about-container {
        max-width: 100%;
        top: 10%;
        left: 0%;
        transform: none;
        border-radius: 0;
        padding: 15px;
        border-radius: 20px;
    }

    .about-content {
        overflow-y: scroll;
        max-height: 48vh;
    }
}